.grid_iteration {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}
@media (max-width: 1300px) {
    .grid_iteration {
        grid-template-columns: 2fr 0fr 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    .grid_iteration {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
.header {
    text-align: left;
}
.header_bubble {
    padding: 5px 8px 5px 8px;
    border-radius: 30px; 
    background-color: #27422C;
    display: inline-block;
}

.header_bubble h3 {
    margin: 0px;
}

.iteration_p {
    height: 100%;
}

.grid_iteration li {
    font-size: 16px;
    margin: 5px;
}
.grid_iteration .screen {
    width: 100%;
    aspect-ratio: 393/852;
    min-width: 100px;
    max-width: 400px;
    flex: 1 1 auto;
    background-size: contain;
    background-repeat: no-repeat;
} 